<style>
[data-sort=table] > tbody > tr:hover{
  background-color: #159c6e;
  cursor: pointer;
}
.vertical{
    /*writing-mode:tb-rl;*/
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    height:{{./template/keySize}}pt;
    width:{{./template/keySize}}pt;
}
#stats {
  border:1px solid #FFFFFF;
}
@media print {
  button[name=showedit] {
    display: none;
  }
  button[name=newTransaction] {
    display: none;
  }
  button[name=print] {
    display: none;
  }
  .card-history{
    display: none;
  }
  .email-link{
    display: none;
  }
  .table-head{
    display: none;
  }
  #dashhead {
    display: none;
  }
  .navigation {
    display: none;
  }
  .breadcrumbs {
    display: none;
  }
  .receipt {
    border-bottom: 1px dashed black;
    padding-left: 0;
    padding-right: 0;
  }
  .content {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  .cards {
    padding: 0;
    margin: 0;
    page-break-after: avoid;
  }
  #stats {
    border: 2px solid black;
    border-radius: 0;
    /*margin:5px;*/
  }
  @page { margin: 0; }
  html, body { height: 99%; }
  .table>thead>tr>th {
    border-bottom: none;
  }
  .table>tbody>tr>td {
    border-top: none;
  }
}
</style>
<div class="col-sm-12" style="padding-top: 10px;">

  <div id="statsButton" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="print" class="btn btn-lg btn-primary-outline">Print Card</button>
  </div>
  <div id="stats" class="statcard statcard-{{#disabled}}danger{{else}}success{{/disabled}} text-left" style="width:{{./template/cardWidth}}px; height: {{./template/cardHeight}}px;float: left;margin-right: {{./template/cardspacing}}px;margin-bottom: {{./template/cardspacing}}px;">
    <canvas id="frontCanvas{{key}}" style="width:{{./template/cardWidth}}px; height: {{./template/cardHeight}}px;display: none;"></canvas>
  </div>

  <div id="stats" class="statcard statcard-{{#disabled}}danger{{else}}success{{/disabled}} text-left" style="width:{{./template/cardWidth}}px; height: {{./template/cardHeight}}px;float: right;margin-left: {{./template/cardspacing}}px;margin-bottom: {{./template/cardspacing}}px;">
    <div style="position: relative;">
      <span id="keyText{{key}}" class="statcard-number keypos" style="color: {{./template/keyColor}};font-size: {{./template/keySize}}pt;position: absolute;top: {{./template/keyTop}}px;left: {{./template/keyLeft}}px;"><div class="{{#./template/vertical}}vertical{{/./template/vertical}}">{{key}}</div></span>
      <canvas id="qr{{key}}" class="qrpos" style="position: absolute;top: {{./template/qrTop}}px;left: {{./template/qrLeft}}px;"></canvas>
      <canvas id="backCanvas{{key}}" style="width:{{./template/cardWidth}}px; height: {{./template/cardHeight}}px;display: none;"></canvas>
    </div>
  </div>

  <div class="balance" style="float:left;"><h2 class="statcard-number text-left">BALANCE</h2>
  <!-- {{#currencies}}
    {{#if balance}}
    <div><h3 class="statcard-number text-left">
      {{currency_name}} {{decimal_places balance}}
    </h3></div>
    {{/if}}
  {{/currencies}} -->
  {{#each balances}}
    {{#if this}}
    <div><h3 class="statcard-number text-left">
    {{../decimal_places this}} {{@key}}
    </h3></div>
    {{/if}}
  {{/each}}
  </div>
  <!-- <div id="stats" class="statcard statcard-success p-a-md m-b text-left">
    <span class="statcard-number" style="float: left">
      <h1>Card#: {{key}}</h1>
      <div><h2 class="statcard-number text-left">BALANCE</h2></div>
      {{#each balances}}
        {{#if this}}
        <div><h3 class="statcard-number text-left">
        {{../decimal_places this}} {{@key}}
        </h3></div>
        {{/if}}
      {{/each}}
    </span>
    <span id="qrcode-image">
      <canvas id="qr" style="margin-left: auto; margin-right: 0;"></canvas>
    </span>
  </div> -->
  <!-- <br/>
  <div class="card-history">
    <h2><strong>Card History</strong></h2>
    <div class="table-full">
      <table class="table" data-sort="basic">
        <thead>
          <tr>
            <th>Date</th>
            <th>Load or Redeem</th>
            <th>Amount</th>
            <th>Currency</th>
          </tr>
        </thead>
        <tbody class="table-rows">
          {{#each journals}}
            {{#this}}
            <tr id="{{_id}}">
              <td>{{prettify_date timestamp}}</td>
              <td>{{#load}}Load{{/load}}{{#redeem}}Redeem{{/redeem}}</td>
              <td>{{decimal_places amount}}</td>
              <td>{{currency}}</td>
            </tr>
            {{/this}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div> -->
</div>
