<style>
[data-sort=table] > tbody > tr:hover{
  background-color: #159c6e;
  cursor: pointer;
}
.vertical{
    /*writing-mode:tb-rl;*/
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(90deg);
    white-space:nowrap;
    height:{{./template/keySize}}pt;
    width:{{./template/keySize}}pt;
}
@media print {
  button[name=showedit] {
    display: none;
  }
  button[name=newTransaction] {
    display: none;
  }
  button[name=print] {
    display: none;
  }
  .card-history{
    display: none;
  }
  .email-link{
    display: none;
  }
  .table-head{
    display: none;
  }
  #dashhead {
    display: none;
  }
  .navigation {
    display: none;
  }
  .breadcrumbs {
    display: none;
  }
  .receipt {
    border-bottom: 1px dashed black;
    padding-left: 0;
    padding-right: 0;
  }
  .content {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  @page { margin: 0; }
}
</style>
<div class="col-sm-12" style="padding-top: 10px;">
  {{#if _id}}
  <div id="statsButton" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="print" class="btn btn-lg btn-primary-outline">Print Card</button>
    <button type="button" name="showedit" class="btn btn-lg btn-primary-outline" >
      <strong>Edit</strong>
    </button>
  </div>
  <table class="table">
    <thead class="table-head">
      <tr>
        <th>Card</th>
      </tr>
    </thead>
    <tbody class="table-rows">
      <tr style="background-color: {{#disabled}}#E64759{{else}}#159c6e{{/disabled}}">
        <td>

            <div id="stats" class="statcard statcard-{{#disabled}}danger{{else}}success{{/disabled}} text-left" style="border: 2px solid #FFFFFF;width:{{./template/cardWidth}}px; height: {{./template/cardHeight}}px;float: left;margin-right: {{./template/cardspacing}}px;margin-bottom: {{./template/cardspacing}}px;">
              <canvas id="frontCanvas{{key}}" style="width:{{./template/cardWidth}}px; height: {{./template/cardHeight}}px;display: none;"></canvas>
            </div>

            <div id="stats" class="statcard statcard-{{#disabled}}danger{{else}}success{{/disabled}} text-left" style="border: 2px solid #FFFFFF;width:{{./template/cardWidth}}px; height: {{./template/cardHeight}}px;float: right;margin-left: {{./template/cardspacing}}px;margin-bottom: {{./template/cardspacing}}px;">
              <div style="position: relative;">
                <span id="keyText{{key}}" class="statcard-number keypos" style="color: {{./template/keyColor}};font-size: {{./template/keySize}}pt;position: absolute;top: {{./template/keyTop}}px;left: {{./template/keyLeft}}px;"><div class="{{#./template/vertical}}vertical{{/./template/vertical}}">{{key}}</div></span>
                <canvas id="qr{{key}}" class="qrpos" style="position: absolute;top: {{./template/qrTop}}px;left: {{./template/qrLeft}}px;"></canvas>
                <canvas id="backCanvas{{key}}" style="width:{{./template/cardWidth}}px; height: {{./template/cardHeight}}px;display: none;"></canvas>
              </div>
            </div>

            <div style="float:left;"><h2 class="statcard-number text-left">BALANCE</h2>
            {{#currencies}}
              {{#if balance}}
              <div><h3 class="statcard-number text-left">
                {{currency_name}} {{decimal_places balance}}
              </h3></div>
              {{/if}}
            {{/currencies}}
            </div>
            <!-- <span class="statcard-number" style="float: left">
              <h1>Card#: {{key}}</h1>

            </span>
            <span id="qrcode-image">
              <canvas id="qr" style="margin-left: auto; margin-right: 0;"></canvas>
            </span> -->

        </td>
      </tr>
    </tbody>
  </table>

  {{/if}}
  <form id='cardForm' {{#if _id}}style="display: none;"{{/if}}>
    {{#if _id}}<input type="hidden" name="_id" value="{{_id}}" />{{/if}}
    <div class="form-group text-left">
      <label for="key">Card Number</label>
      <div class="input-group">
         <input type="text" id="key" name="key" value="{{key}}" placeholder="Card Number" class="form-control" style="height: 44px;" />
         <span class="input-group-btn">
              <button type="button" name="qrcode" class="btn btn-sm btn-default-outline" style="padding:0;"><img src="public/assets/images/openmoney.gift.gif"</button>
         </span>
      </div>
    </div>
    <div id="qrcode-reader" class="modal" style="display: none;">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" name="close" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title">Scan Qr Code</h4>
          </div>
          <div class="modal-body">
            <div id="qr-error-notification" class="notifications center-block alert alert-danger text-center" role="alert" style="display: none;"></div>
            <div id="reader" style="width:270px;height:250px">
            </div>
            <div id="qrfile" style="display: none;">
              <canvas id="outCanvas" width="270" height="250"></canvas>
              <div id="imghelp">select a file or capture an image from your camera
                <input type="file" id="qrfiles"/>
              </div>
            </div>
          </div>
          <div class="modal-actions">
            <button type="button" name="cancel" class="cancel btn-link modal-action" data-dismiss="modal">Cancel</button>
            <button type="button" class="btn-link modal-action" data-dismiss="modal">
              <strong>Continue</strong>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="checkbox custom-control custom-checkbox">
      <label>
        <input type="checkbox" name="disabled" value="true" {{#disabled}}checked="checked"{{/disabled}} />
        <span class="custom-control-indicator"></span>
        Freeze Card
      </label>
    </div>
    <div class="form-group text-right">
      <button type="button" name="generate" class="btn btn-lg btn-primary-outline">Generate Key</button>
      <button type="button" name="cancel" class="btn btn-lg btn-primary-outline" >Cancel</button>
      <button type="button" name="upsert" class="btn btn-lg btn-primary-outline" >
        <strong>{{#if _id}}Edit{{else}}New{{/if}}</strong>
      </button>
    </div>
  </form>

  {{#if _id}}
  <div class="card-history">
    <h2><strong>Card History</strong></h2>
    <div id="newButtonDiv" class="text-right" style="padding-bottom:10px;">
      <button type="button" name="newTransaction" class="btn btn-lg btn-success-outline" >
        <strong>Process Transaction</strong>
      </button>
    </div>
    <div class="table-full">
      <table class="table" data-sort="basic">
        <thead>
          <tr>
            <th>Date</th>
            <th>Load or Redeem</th>
            <th>Amount</th>
            <th>Currency</th>
          </tr>
        </thead>
        <tbody class="table-rows">
          {{#each journals}}
            {{#this}}
            <tr id="{{_id}}">
              <td>{{prettify_date timestamp}}</td>
              <td>{{#load}}Load{{/load}}{{#redeem}}Redeem{{/redeem}}</td>
              <td>{{decimal_places amount}}</td>
              <td>{{currency}}</td>
            </tr>
            {{/this}}
          {{/each}}
        </tbody>
      </table>
    </div>
  </div>
  {{/if}}
</div>
