<style>
[data-sort=table] > tbody > tr:hover{
  background-color: #1686b0;
  cursor: pointer;
}
@media print {
  button[name=showedit] {
    display: none;
  }
  button[name=newCard] {
    display: none;
  }
  button[name=print] {
    display: none;
  }
  .email-link{
    display: none;
  }
  .table-head{
    display: none;
  }
  .dashhead {
    display: none;
  }
  .navigation {
    display: none;
  }
  .breadcrumbs {
    display: none;
  }
  .receipt {
    border-bottom: 1px dashed black;
    padding-left: 0;
    padding-right: 0;
  }
  .content {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    padding-left: 0;
    padding-right: 0;
  }
  @page { margin: 0; }
}
</style>
<div class="col-sm-12" style="padding-top: 10px;">
  {{#if _id}}

  <div id="statsButton" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="print" class="btn btn-lg btn-primary-outline">Print Patron</button>
    <button type="button" name="showedit" class="btn btn-lg btn-primary-outline" >
      <strong>Edit</strong>
    </button>
  </div>
  <div id="stats" class="statcard statcard-primary p-a-md m-b">
    <h2><div class="statcard-desc">{{firstname}} {{lastname}}</div></h2>
    <h3><a href="mailto:{{email}}?subject={{firstname}}%20{{lastname}}%20{{phone}}" style="color: #FFF;" class="email-link">{{email}}</a></h3>
    <h4>{{phone}}</h4>
    <h2 class="statcard-number text-right">BALANCE</h2>
    {{#currencies}}
      {{#if balance}}
      <div id="{{currency}}">
        <h3 class="statcard-number text-right">
          {{currency_name}} {{decimal_places balance}}
        </h3>
      </div>
      {{/if}}
    {{/currencies}}
  </div>
  {{/if}}
  <form id='patronForm' {{#if _id}}style="display: none;"{{/if}}>
    {{#if _id}}<input type="hidden" name="_id" value="{{_id}}" />{{/if}}
    <div class="form-group text-left">
      <label for="firstname">First name</label>
      <input type="text" id="firstname" name="firstname" value="{{firstname}}" placeholder="First Name" class="form-control" />
    </div>
    <div class="form-group text-left">
      <label for="lastname">Last name</label>
      <input type="text" id="lastname" name="lastname" value="{{lastname}}" placeholder="Last Name" class="form-control" />
    </div>
    <div class="form-group text-left">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" value="{{email}}" placeholder="Email" class="form-control" />
    </div>
    <div class="form-group text-left">
      <label for="email">Phone</label>
      <input type="text" id="phone" name="phone" value="{{phone}}" placeholder="Phone" class="form-control" />
    </div>
    <div class="form-group text-right">
      <button type="button" name="cancel" class="btn btn-lg btn-primary-outline" >Cancel</button>
      <button type="button" name="upsert" class="btn btn-lg btn-primary-outline" >
        <strong>{{#if _id}}Edit{{else}}New{{/if}}</strong>
      </button>
    </div>
  </form>

  {{#if _id}}
  <h2><strong>Cards</strong></h2>
  <div id="newButtonDiv" class="text-right" style="padding-bottom:10px;">
    <button type="button" name="newCard" class="btn btn-lg btn-success-outline" >
      <strong>New Card</strong>
    </button>
  </div>
  <div class="table-full">
    <table class="table" data-sort="table">
      <thead class="table-head">
        <tr>
          <th>Card</th>
        </tr>
      </thead>
      <tbody class="table-rows">
        {{#each cards}}
          {{#this}}
          <tr id="{{_id}}">
            <td>
              <div id="card-stats" class="statcard statcard-{{#disabled}}danger{{else}}success{{/disabled}} p-a-md m-b">
                <span class="statcard-number" style="float: left">
                  <h1>Card#: {{key}}</h1>
                  <div><h2 class="statcard-number text-left">BALANCE</h2></div>
                  {{#each balance}}
                    <h3 class="statcard-number text-left">
                      {{../decimal_places this}} {{@key}}
                    </h3>
                  {{/each}}
                  {{#currencies}}
                    {{#if balance}}
                    <div><h3 class="statcard-number text-left">
                      {{currency_name}} {{decimal_places balance}}
                    </h3></div>
                    {{/if}}
                  {{/currencies}}
                </span>
                <span id="qrcode-image">
                  <canvas id="qr{{key}}" style="margin-left: auto; margin-right: 0;"></canvas>
                </span>
              </div>
            </td>
          </tr>
          {{/this}}
        {{/each}}
      </tbody>
    </table>
  </div>
  {{/if}}
</div>
